<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; } h1 { margin: 16px 0;
      font-size: 22px; } h2 { margin: 14px 0; font-size: 16px; } p { margin: 10px 0; font-size:
      14px; }
    </style>
  </head>
  <body>
    <h2>Lăng Tiến Ecommerce</h2>
    <p>Xin chào</p>
    <p>{{description}}</p>
    <h1>{{otp}}</h1>
    <p>Trân trọng,</p>
    <p>Lăng Tiến Ecommerce</p>
  </body>
</html>